/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #menu-toggle:checked + #menu {
    display: block;
  }

  .text-10xl {
    font-size: 6rem;
  }

  .off-black {
    background-color: #231e24;
  }

  .rounded-adv {
    border-radius: 0.32rem;
  }

  .adv-orange {
    background-color: #ff634b;
  }

  .adv-peach {
    background-color: #fff8f5;
  }


  .w-80 {
    width: 20rem;
  }
